html,
 body {
  width:100%;
  height:100%;
  position:absolute;

  /* background-size: cover;
  background: url("pexels-eberhard-grossgasteiger-572897.jpg"); */
}
body {
  /* The image used */
  background-image: url("pexels-eberhard-grossgasteiger-572897.jpg");
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
